                        body
			{
				background-color:wheat;
			}

			.one
			{
				color:green;
				font-family:Algerian;
				font-size:17px;
			}

			td,ul
			{
				font-family:verdana;
				font-size:15px;
			}
